body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;

    background: linear-gradient(135deg, #0f172a, #020617);
}

/* IMPORTANT : contenu au-dessus */
body * {
    position: relative;
    z-index: 1;
}

/* glow rose */
body::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: rgba(255, 130, 200, 0.25);
    filter: blur(120px);
    top: 20%;
    right: 10%;

    z-index: 0;
}

/* glow bleu */
body::after {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.18);
    filter: blur(140px);
    bottom: 10%;
    left: 5%;

    z-index: 0;
}



h1{
    color:#ffffff;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: center;
}

h2{
    color:#ffffff;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid rgba(255, 80, 160, 0.42);
    border-radius: 30px;
    padding: 20px 30px;
    margin: 14px auto;
}

a {
    color: #FFFF82;

}

.image img {
    display: block;
    margin: 0 auto;
    border: 3px solid rgba(255, 80, 160, 0.42);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}